html {
  height: 100%;
  background: #3023ae;
  background: linear-gradient(135deg,  #3023ae 0%,#c86dd7 100%);
  background-attachment: fixed;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

a {
  color: #fff;
}

ul {
  background: #fff;
  width: 720px;
  margin: auto;
  margin-top: 60px;
  list-style: none;
  padding: 0;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.37);
  box-shadow:      0px 0px 4px 0px rgba(0,0,0,0.37);
}
ul li {
  width: 180px;
  height: 180px;
  line-height: 176px;
  text-align: center;
  float: left;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
ul li svg {
  vertical-align: middle;
}
li:nth-child(1) {
  background-color: #1ABC9C;
}
li:nth-child(2) {
  background-color: #34495E;
}
li:nth-child(3) {
  background-color: #F39C12;
}
li:nth-child(4) {
  background-color: #9B59B6;
}
li:nth-child(5) {
  background-color: #3498DB;
}
li:nth-child(6) {
  background-color: #E74C3C;
}
li:nth-child(7) {
  background-color: #2ECC71;
}
li:nth-child(8) {
  background-color: #2C3E50;
}
li:nth-child(9) {
  background-color: #F1C40F;
}
li:nth-child(10) {
  background-color: #8E44AD;
}
li:nth-child(11) {
  background-color: #2980B9;
}
li:nth-child(12) {
  background-color: #E74C3C;
}